# Environments
backend/venv/
backend/env/
backend/.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# YOLO / Ultralytics specific
runs/
*.pt
!backend/model/yolov8n.pt
!backend/model/best.pt
*.onnx
*.engine

# System files
.DS_Store
Thumbs.db
